<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="UserDb"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\UserApi.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="EncryptionKey" value="CHANGE-ME-use-a-long-random-secret-key" />
    <add key="UserApiBaseUrl" value="http://localhost:44301/api" />
    <add key="AwsApiBaseUrl" value="https://your-api-id.execute-api.us-east-1.amazonaws.com/prod" />
    <add key="AwsApiKey" value="" />
    <add key="AwsRegion" value="us-east-1" />
    <add key="AwsDefaultResourcePath" value="" />
    <add key="AwsSnsProfileName" value="labcorp-connector" />
    <add key="AwsSnsRegion" value="us-east-1" />
    <add key="AwsSnsTopicArn" value="arn:aws:sns:us-east-1:763216446258:labcorpembark-receiving-topic-dev" />
    <add key="AwsSnsDefaultMessage" value="preflig" />
    <!-- Optional defaults; prefer entering AccessKey/SecretKey in the SNS tab UI -->
    <add key="AwsSnsAccessKey" value="" />
    <add key="AwsSnsSecretKey" value="" />
  </appSettings>
</configuration>
